!!!
%html
  %head
    %title Socket Motor Chat
    :css
      body { font-family: Arial }
      #chat {
        border: 1px solid black;
        width: 500px;
        height: 200px;
      }

    %script{:type => 'text/javascript', :src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js'}
    %script{:type => 'text/javascript', :src => '/swfobject.js'}
    %script{:type => 'text/javascript', :src => '/FABridge.js'}
    %script{:type => 'text/javascript', :src => '/web_socket.js'}
    %script{:type => 'text/javascript', :src => '/dripdrop.js'}
    :javascript
      // Set URL of your WebSocketMain.swf here:
      WEB_SOCKET_SWF_LOCATION = "WebSocketMain.swf";
      // Set this to dump debug message from Flash to console.log:
      WEB_SOCKET_DEBUG = true; 
      
      var ws = new DD.WebSocket('ws://localhost:8080');
      ws.onOpen(function() {
      });
      ws.onRecv(function(message) {
        console.log(message);
        if (message.name == 'heartbeat') {
          $('#heartbeat').html(message.body);
        } else if (message.name == 'chat') {
          $('#chat').append('<div>' + message.body + '</div>');
        } else {
        }
      });

      function sendChat() {
        var text = $('#chat-input').val();
        $('#chat-input').val('');
        var msg  = new DD.Message('chat', {body: text});
        ws.sendMessage(msg);
      }
  %body
    %h1 Drip Drop Chat
      
    %div{:id => 'chat'}
    %strong Send Message:
    %form{:onsubmit => 'sendChat(); return false'}
      %input{:type => 'text', :id => 'chat-input'}
      %a{:href => '#', :onclick => 'sendChat(); false'} Send

    %div
      %strong Last Heartbeat Received
      %div{:id => 'heartbeat'}
      
